<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aiyan</title>
</head>
<body>
    <h1>Hello My friend <%= random%></h1>
    <% if(random>=5) {%>
        <h1>greater than 5</h1> 
    <%}%>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, voluptatem eius accusamus sunt quia veniam ad at? Facere tempore ad ea libero. Ex atque deserunt necessitatibus provident dolorem ut error?*30</p>
    <hr>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt eveniet, quos consectetur soluta eaque ad. Quas architecto qui omnis commodi veritatis earum, id consectetur ullam nihil recusandae placeat laboriosam nemo!</p>
</body>
</html>